<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>cn.itcast.day23.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 发送生日祝贺 的监听器 -->
  <listener>
    <listener-class>cn.itcast.day23.listener.BirthdayListener</listener-class>
  </listener>
 
 </web-app>